.kcPageWrapperClass {
	padding: 0;
	color: #ced4da;
	background: linear-gradient(
			99.45deg,
			#272727 18.7%,
			#202020 48.79%,
			#050505 87.68%
	);
	height: 100vh;
}

.kcHeaderWrapperClass {
	color: #09b3da;
}

.kcHeaderClass {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.kcModalWrapperClass {
	/*width: 320px;*/
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: transparent;
}

.kcFormHeaderClass {
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.kcSignUpClass {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.kcInputClass {
	background: transparent;
	border: none;
	border-bottom: #00a1d9 1px solid;
}

.kcButtonClass {
	width: 310px;
	display: block;
	background: #0085ff;
	border-radius: 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.2px;
	text-transform: none;
	padding: 10px 0;
	margin: 20px auto 0;
	border: none;
}